<footer class="container border-top align-items-center">
  <div class="row justify-content-center margin-top-3">
    <div class="col text-center">
      {% for item in site.data.settings.social %}
        <a href="{{ item.link }}" class="ms-3 fs-5";"><i class="fab fa-{{ item.icon }}"></i></a>
      {% endfor %}
    </div>
  </div>
  <div class="row"><p style="text-align: center; font-size:small"> Illustrations by <a href="https://blush.design/artists/RyUTVuP8G4QeAAEEQgug/pablo-stanley"> Pablo Stanley </a></p></div>
</footer>
