<div class="row  mb-5">
  
    
    <div class="row mb-2" ">
      <table>
        <tr>
          <th><img src="{{site.github.url}}/assets/img/sticker_publications.png" alt="publications" width="60px"></th>
          <th><a href="{{site.github.url}}/publications"><h3 class="fw-bold ">Publications</h3></a> </th>
        </tr>
        <tr>
          <th></th>
          <th>
            <li>
            {% for post in site.posts %}
            {% if post.what contains 'publication' %}
              <a href="{{ post.url }}" class="fw-normal">{{ post.title }}</a>
            {% endif %}
            {% endfor %}
          </li>
           </th>
        </tr>
        <tr style="height: 30px;"><th></th><th></th></tr>
        <tr>
          <th><img src="{{site.github.url}}/assets/img/sticker-talk.png" alt="talks" width="60px"></th>
          <th><a href="{{site.github.url}}/publications"><h3 class="fw-bold"> Talks </h3></a> </th>
        </tr>
        <tr>
          <th></th>
          <th>
            <li>
            {% for post in site.posts %}
            {% if post.what contains 'talk' %}
            <a href="{{ post.url }}" class="fw-normal">{{ post.title }}</a>
            {% endif %}
            {% endfor %}
          </li>
          </th>
        </tr>
        <tr style="height: 30px;"><th></th><th></th></tr>
      </table>
  
    </div>
