<div class="row g-5 mb-5">
  <div >
    <div class="row align-items-center border-bottom pb-3 mb-5">
      <div class="col-md-1">
        <img src="/assets/img/sticker-hand.png" width="100%">
      </div>
      <div class="col-md-11">
        <h3 class="fw-bold ">Publications</h3>
      </div>
    </div>
    {% if page.title == "Home" %}
      {% for item in site.data.publications.featured %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% else %}
      {% for item in site.data.publications.index %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% endif %}
  </div>
</div>
