---
layout: default
---

<div class="row mb-5 align-items-top">

  <div class="col-md-8">
    
      {{ content }} 
  </div>

  <div class="col-md-1"></div>

  <div class="col-md-3" > 
      <div>
        <style>
          table {
            width: 100%;
            border: none;
          }
          </style>
          
          <table>
            <tr>
              <th><h3 class="fw-bold"> Research Interests </h3> </th>
              <th><img class="mr-15px" src="{{site.github.url}}/assets/img/sticker-search.png" alt="researchsticker1" width="60px"></th>
            </tr>
            <tr>
              <th>
                <ul class="fw-normal">
                <li>Feminist Theory</li><li>Game Design</li><li>Data Visualisation</li><li>Design</li><li>Media Studies</li>
              </ul>
              </th>
              <th></th>
            </tr>
          </table>
      </div>
    </div>
</div>

<div class="row ">

<div class="col-md-6">
  <div >
    {% include publications.html %}
  </div>
</div>

<div class="col-md-6 align-items-top">
  <div>
    <div class="row align-items-center  mb-3">
      <div class="col-md-2">
        <img src="{{site.github.url}}/assets/img/sticker-news.png" alt="news" width="100%" max width="200px">
      </div>
      <div class="col-md-4">
       <h3 class="fw-bold">News</h3>
      </div>
    </div>
    <div >
      {% for post in site.posts %}
      {% if post.what contains 'news' %}
        <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%-d %B, %Y" }}</p>
      {% endif %}
      {% endfor %}
    </div> 
  </div>
</div>

</div>  


