---
layout: default
---

<div class="row mb-5 align-items-top">

  <div class="col-md-8">
    
      {{ content }} 
  </div>

  <div class="col-md-1"></div>

  <div class="col-md-3" > 
      <div>
          
          <table>
            <tr>
              <th><h3 class="fw-bold"> Research Interests </h3> </th>
              <th><img class="mr-15px" src="{{site.github.url}}/assets/img/sticker-search.png" alt="researchsticker1" width="60px"></th>
            </tr>
            <tr>
              <th>
                <ul class="fw-normal">
                <li>Feminist Theory</li><li>Game Design</li><li>Data Visualisation</li><li>Design</li><li>Media Studies</li>
              </ul>
              </th>
              <th></th>
            </tr>
          </table>
      </div>
    </div>
</div>


  <div class="row row-cols-2">
      <div class="col">{% include publications.html %}</div>
      <div class="col">{% include news.html %}</div>
  </div>


